.quiz {
	height: 100%;
	.block {
		border-radius: 8px;
		padding: .75em;
	}
	@include e(image) {
		width: 100%;
		img {
			border-radius: 8px;
		}
	}
	@include e(button-holder) {
		width: 100%;
		.flexbox & {
			display: flex;
			flex-direction: column;
		}
		@include mq(medium) {
			.flexbox & {
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-around;
			}
			.no-flexbox & {
				@extend %clearfix;
			}
		}
	}
	@include e(button) {
		margin: .5em 0;
		padding: .5em 0;
		.flexbox & {
			flex-grow: 1;
		}
		.no-flexbox & {
			width: calc(100% - .5em);
		}

		@include mq(medium) {
			margin: .25em;
			.flexbox & {
				flex-grow: 1;
				flex-basis: 40%;
			}
			.no-flexbox & {
				display: inline-block;
				width: calc(50% - .5em);
				float: left;
			}
		}
	}
	@include e(game-over) {
		margin-top: 20vh;
		text-align: center;
		.button {
	 		display: block;
	 		width: 50%;
		}
	}
}